.example-form {
    max-width:50%;
    margin: auto;
    text-align: center;
  }
  
  .input-field {
    width: 50%;
    font-size: 20px;
    font-family: "Helvetica Neue";
  }
  
  .example-radio-group {
    display: inline-flex;
    flex-direction: row;
  }
  
  .example-radio-button {
    margin: 5px;
  }
  
  .example-selected-value {
    margin: 15px 0;
  }
  
  mat-icon {
    display: flex;
  }
  