<form class="example-form" [formGroup]="changePwdForm">

  <mat-form-field class="input-field">
    <input type="password" matInput placeholder="Current Password" formControlName="currPwd">
    <mat-error *ngIf="changePwdForm.controls['currPwd'].hasError('required')">
      * Required
    </mat-error>
  </mat-form-field>

  <br>
  <br>
  <mat-form-field class="input-field" hintLabel="Enter 6 to 16 characters">
    <input matInput minlength="6" maxlength="16" formControlName="newPwd" placeholder="New Password" [type]="hide ? 'password' : 'text'">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-hint align="end">{{changePwdForm.controls['newPwd'].value?.length || 0}}/16</mat-hint>
  </mat-form-field>
  <br>
  <br>

  <mat-form-field class="input-field">
    <input matInput placeholder="Confirm New Password" formControlName="confirmPwd" [type]="hide ? 'password' : 'text'">
    <mat-error *ngIf="!(changePwdForm.controls['confirmPwd'].value === changePwdForm.controls['newPwd'].value)">
      Password fields
      <strong>do not match!</strong>
    </mat-error>
  </mat-form-field>
  <br>
  <br>


  <button (click)="onSubmit()" mat-raised-button color="primary" [disabled]="!changePwdForm.valid">Submit</button>
  &nbsp;
  <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
  /> &nbsp;
</form>